* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #7FDBFF;
}

header{
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #001f3f;
    color: white;
}
header h1 {
    display: inline-block;
    font-size: 24px;
}

.topColor a:hover {
    background-color: #ddd;
}
header div{
    margin-bottom: 100px;
    float: right;
    font-size: 20px;
}
header div ul {
    list-style-type: none;
}
header div ul li {
    display: inline-block;
    margin-left: 20px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.hero {
    height: 200px;
    width: 100%;
    background-image: url("../images/heroImage.jpg");
    background-size: center;
}
.center{
    display: flex;

}
.about-me-header{
    padding: 15px;
    text-align: center;
    background: #5885b3;
}

.about-me-text{
    padding: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.about-me h2{
    padding-right: 20px;
    text-align: center;
    
}
.work-examples-header{
    padding: 15px;
    
    text-align: center;
    background: #5885b3;
}
.webPic{
    display: block;
    margin: 1em auto;
}
.contact-me {
display: flex;
}
.contact-me-text {
    padding-top: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
}
.contact-me-header{
    padding: 15px;
    text-align: center;
    background: #5885b3;
}
.resume-header{
    padding: 15px;
    text-align: center;
    background: #5885b3;
}
.resume img{
    display: block;
    margin: 1em auto;
}
footer {
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #001f3f;
}
footer h2 {
    font-size: 20px;
    color: white;
}